.writingor--container {
    // 1524px
    max-width: 1588px;
    padding: 0 4rem;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.writingor--mouse {
    transition: $transition;
}

.writingor--main {
    min-height: 100vh;
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3,
.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
    width: 100%;
    position: relative;
    z-index: 1;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
    transform: translate(0, -2px);
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3 {
    transform: translate(0, 2px);
}

.writingor--top-section {
    position: relative;
    z-index: 11;
    transition: $transition-2;

    .writingor--transition-to-next-1 svg path {
        transition: $transition-2;
    }

    &.writingor--scrolled {
        background-color: $black;
    }
}

.writingor--layout {
    overflow: hidden;
}

.writingor--layout .writingor--form-1 {
    opacity: 0;
    transition: $transition-2;

    &.writingor--visible {
        opacity: 1;
    }
}

.writingor--disabled {
    pointer-events: none;
}

code {
    padding: 1rem;
    background-color: rgba($color: $black, $alpha: 1.0);
    color: white;

    &::selection {
        background-color: $yellow;
        color: $black;
    }
}