.writingor--container {
    // 1524px
    max-width: 1588px;
    padding: 0 4rem;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.writingor--mouse {
    transition: $transition;
}

.writingor--main {
    min-height: 100vh;
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3,
.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
    width: 100%;
    position: relative;
    z-index: 1;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
    transform: translate(0, -2px);
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3 {
    transform: translate(0, 2px);
}

.writingor--top-section {
    position: relative;
    z-index: 11;
    transition: $transition-2;

    .writingor--transition-to-next-1 svg path {
        transition: $transition-2;
    }

    &.writingor--scrolled {
        background-color: $black;
    }
}

.writingor--layout {
    overflow: hidden;
}

.writingor--layout .writingor--form-1 {
    opacity: 0;
    transition: $transition-2;

    &.writingor--visible {
        opacity: 1;
    }
}

.writingor--disabled {
    pointer-events: none;
}

code {
    padding: 1rem;
    background-color: rgba($color: $black, $alpha: 1.0);
    color: white;

    &::selection {
        background-color: $yellow;
        color: $black;
    }
}

// woocommerce select2 dd

.select2-container--default .select2-results__option {
    padding: .83em 1.3em .95em;
    margin: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $violet;
}

.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below {
    border-radius: 0;
    border: 1px solid $gray-1;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-search--dropdown .select2-search__field {
    display: block;
    width: 100%;
    padding: .83em 1.3em .95em;
    border-radius: 0;
    border: 1px solid $gray-1;
    font-size: 1.1rem;

    &.writingor--mouse:hover {
        border: 1px solid $gray-2;
    }

    &:focus {
        border: 1px solid $violet;
    }
}