@font-face {
    font-family: 'Commissioner';
    src: url(../../fonts/Commissioner/static/Commissioner-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Commissioner';
    src: url(../../fonts/Commissioner/static/Commissioner-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Commissioner';
    src: url(../../fonts/Commissioner/static/Commissioner-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Commissioner';
    src: url(../../fonts/Commissioner/static/Commissioner-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}