$violet: #722DCA;
$black: #202020;
$gray-1: #f0f0f0;
$gray-2: #a0a0a0;
$gray-3: #cccccc;
$yellow: #FFD600;
$red: #E74242;

$transition: all linear 200ms;
$transition-2: all ease-in 500ms;
$radius-1: 28px;
$shadow-1: 3px 5px 10px rgba($black, .16);

@keyframes roll-1 {
    from {
        background-color: $gray-2;
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(1deg);
        background-color: $gray-1;
    }
}

@keyframes preloader {
    0% {
        background-color: $black;
    }
    100% {
        background-color: $violet;
    }
}

@keyframes first-square {
    0% {
        background-color: $gray-3;
        transform: translateY(40%);
    }
    100% {
        background-color: white;
        transform: translateY(0);
    }
}

@keyframes second-square {
    0% {
        background-color: $violet;
        transform: translateY(-60%);
    }
    100% {
        background-color: $gray-3;
        transform: translateY(0);
    }
}

@keyframes third-square {
    0% {
        transform: translateY(20%);
        background-color: $yellow;
    }
    100% {
        transform: translateY(-10%) translateX(0);
        background-color: $gray-3;
    }
}
  