.writingor--pagination {
    padding: 2rem 0;
    
    ul,
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0;
    }

    li,
    &__list-item {
        // pass
        margin: 0;
        
        a {
            display: block;
            padding: .4rem .7rem;
            color: $gray-2;
            text-decoration: none;  
            margin: 0;
        }

        span {
            // pass
        }
    }
}