.writingor--form-1 {
    padding: 56px 48px 52px;
    background: white;
    border-radius: $radius-1;
    box-shadow: $shadow-1;
    max-width: 946px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        padding: 42px 36px 40px;
    }

    &__title {
        font-size: 2.1rem;
        letter-spacing: .25em;
        font-weight: 500;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;

        @media screen and (max-width: 500px) {
            font-size: 1.8rem;
        }
    }

    .select2-container .select2-selection--single { // woocommerce dropdown
        height: fit-content;
        border-radius: 0;
        border: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 100%;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field, // woocommerce dropdown
    .select2-container .select2-selection--single .select2-selection__rendered, // woocommerce dropdown
    input[type=password],
    input[type=text],
    input[type=date],
    input[type=tel],
    input[type=number],
    input[type=email] {
        display: block;
        width: 100%;
        padding: .83em 1.3em .95em;
        border-radius: 0;
        border: 1px solid $gray-1;
        font-size: 1.1rem;
        margin-bottom: 1em;

        &.writingor--mouse:hover {
            border: 1px solid $gray-2;
        }

        &:focus {
            border: 1px solid $violet;
        }
    }

    .select2-container--default .select2-search--dropdown .select2-search__field, // woocommerce dropdown
    .select2-container .select2-selection--single .select2-selection__rendered { // woo
        margin: 0;
    }

    .select2-container--open .select2-dropdown--below { // woo
        border-radius: 0;
        border: 1px solid $gray-1;
    }

    .select2-container--default .select2-results__option--highlighted, // woo
    .select2-container--default .select2-results__option--highlighted { // woo 
        padding: .83em 1.3em .95em !important;
        background-color: $violet !important;
        margin: 0 !important;
    }

    textarea {
        display: block;
        width: 100%;
        padding: .9em 1.3em;
        border-radius: 0;
        border: 1px solid $gray-1;
        font-size: 1.1rem;
        margin-bottom: 1em;
        resize: none;
        height: 180px;

        &.writingor--mouse:hover {
            border: 1px solid $gray-2;
        }
        
        &:focus {
            border: 1px solid $violet;
        }
    }

    button,
    input[type=submit] {
        // pass
    }

    .writingor--button-4,
    .writingor--button-2 {
        margin: 1.7em 0 0 auto;
    }

    &__response-message {
        font-weight: 700;
    }

    &__agreement {
        font-size: .7rem;
        color: $black;
        text-align: center;
    }
}