.writingor--logo-1 {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $yellow;

    &.writingor--mouse:hover {
        opacity: .7;
    }
}