.writingor--preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    animation: preloader 2000ms ease-in infinite alternate;

    &__square {
        display: block;
        width: 14px;
        height: 14px;
        background-color: $gray-3;
        transition: $transition;
    }

    &__square_first {
        animation: first-square 500ms ease-in infinite alternate;
    }

    &__square_second {
        animation: second-square 400ms ease-in infinite alternate;
    }

    &__square_third {
        animation: third-square 300ms ease-in infinite alternate;
    }
}


@keyframes preloader {
    0% {
        background-color: $black;
    }
    100% {
        background-color: $violet;
    }
}

@keyframes first-square {
    0% {
        background-color: $gray-3;
        transform: translateY(40%);
    }
    100% {
        background-color: white;
        transform: translateY(0);
    }
}

@keyframes second-square {
    0% {
        background-color: $violet;
        transform: translateY(-60%);
    }
    100% {
        background-color: $gray-3;
        transform: translateY(0);
    }
}

@keyframes third-square {
    0% {
        transform: translateY(20%);
        background-color: $yellow;
    }
    100% {
        transform: translateY(-10%) translateX(0);
        background-color: $gray-3;
    }
}
