.writingor--header-1 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1.5rem 0;
    background-color: transparent;
    box-shadow: 2px 4px 12px rgba($color: $black, $alpha: .1);
    backdrop-filter: blur(1px);

    &.writingor--scrolled {
        backdrop-filter: blur(3px);
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .writingor--language-switcher {
            margin-left: auto;
        }
    }
}