.writingor--header-1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;

    &__row {
        display: flex;
        align-items: center;
        gap: 1rem;

        .writingor--language-switcher {
            margin-left: auto;
        }
    }
}