.writingor--layout-3 {
    background-color: $gray-1;
    position: relative;
    padding: 50px 0 0;

    &__container {
        // pass
    }

    &__header {
        margin-bottom: 66px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 120px;

        @media screen and (max-width: 900px) {
            gap: 24px;
            padding-bottom: 10vw;
        }

        .writingor--card-1 {
            width: 32%;
            transition: $transition;

            @media screen and (max-width: 1520px) {
                width: 40%; 
            }

            @media screen and (max-width: 1200px) {
                width: 49%; 
            }

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            &:nth-child(1) {
                transform: rotate(-6deg) translate(0, 10%);
                z-index: 1;

                @media screen and (max-width: 900px) {
                    transform: none;
                }
            }
        
            &:nth-child(2) {
                z-index: 2;
                transform: rotate(-1deg);

                @media screen and (max-width: 1520px) {
                    transform: rotate(2deg);
                }

                @media screen and (max-width: 900px) {
                    transform: none;
                }
            }
        
            &:nth-child(3) {
                transform: rotate(7deg) translate(0, 11%);

                @media screen and (max-width: 1520px) {
                    transform: rotate(8deg) translate(0, 5%);
                }

                @media screen and (max-width: 900px) {
                    transform: none;
                }
            }

            // &.writingor--mouse:hover {
            //     transform: translate(0, 0) rotate(0) scale(1.03);
            //     z-index: 3;
            //     margin: 0 -36px;
            // }
        }
    }
}