.writingor--checkbox-1 {
    position: relative;
    padding-left: 1.2em;
    cursor: pointer;

    input {
        position: absolute;
        left: 0;
        appearance: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 1rem;
            height: 1rem;
            box-shadow: 0px 0px 0px 1px $gray-3 inset;
        }

        &:checked::before {
            background: url(../../images/icon/checked.svg) 50% 55% / contain no-repeat;
            box-shadow: 0px 0px 0px 1px $gray-2 inset;
        }
    }

    span {
        font-size: .7rem;
        color: $black;
        transition: $transition;

        a {
            // pass
        }
    }

    &.writingor--mouse:hover {
        box-shadow: 0px 0px 0px 1px $violet inset;

        span {
            opacity: .7;
        }
    }
}