.writingor--dropdown-1 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .8rem 1.2rem;
    background: white;
    // transition: $transition;
    cursor: pointer;

    &__current-value,
    &__input {
        width: 100%;
        max-width: 300px;
        height: 100%;
        font-weight: 500;
        line-height: 100%;
        outline: 0;
        border: none;
        pointer-events: none;
        background: transparent;
        text-overflow: ellipsis;
    }

    &__arrow {
        position: absolute;
        right: 1rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 7px 0 7px;
        border-color: $black transparent transparent transparent;
        pointer-events: none;

        &_active {
            transform: rotate(-180deg);
        }
    }

    &__list {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: translate(0, 100%);
        list-style: none;
        background: white;
        width: 100%;
        height: fit-content;
        max-height: 300px;
        display: none;
        overflow-y: auto;
        box-shadow: 0 .5rem 1rem rgba(106, 158, 190, .1);

        &_active {
            display: flex;
            flex-direction: column;
        }
    }

    &__list-item {
        width: 100%;
        font-weight: 500;
        padding: .8rem 1.2rem;
        background: white;
        margin: 0;
    }
}