.writingor--language-switcher {
    position: relative;

    &__list {
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
        width: fit-content;
        max-width: 250px;
        padding: 20px 25px;
        transform: translate(0, 100%);
        list-style: none;
        background-color: white;

        &_active {
            display: block;
        }
    }

    &__list-item {
        margin: 1em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: $black;
            text-decoration: none;

            &.writingor--mouse:hover {
                opacity: .7;
            }
        }
    }

    &__current {
        background-color: transparent;
        color: $yellow;
        font-weight: 500;

        &.writingor--mouse:hover {
            opacity: .7;
        }
    }
}