.writingor--button-5 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: .75em 1.2em .75em 1.3em;
    background-color: $black;
    outline: none;
    border-radius: 0;
    font-size: .75rem;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &.writingor--mouse:hover {
        background-color: $violet;
    }
}