.writingor--menu-toggler {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 50px;
    background-color: transparent;

    span {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $gray-3;
        transition: $transition;

        &::after,
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background-color: $gray-3;
            transition: $transition;
        }

        &::before {
            transform: translateX(-13px);
        }

        &::after {
            transform: translateX(13px);
        }
    }

    &_active {
        span {
            background-color: $violet;
            transform: translateY(-60%);

            &::before {
                transform: translateY(100%) translateX(-13px);
            }

            &::after {
                background-color: $yellow;
                transform: translateY(60%) translateX(13px);
            }
        }
    }

    &.writingor--mouse:hover {
        span {
            background-color: $yellow;

            &::before {
                background-color: $yellow;
            }

            &::after {
                background-color: $yellow;
            }
        }
    }

    &.writingor--mouse:active {
        span {
            background-color: $violet;

            &::before {
                background-color: $violet;
            }

            &::after {
                background-color: $violet;
            }
        }
    }
}