.writingor--to-top {
    display: block;
    position: fixed;
    left: 0;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 10;
    padding: .25em 1em .3em 1.1em;
    text-align: center;
    font-weight: 500;
    background-color: rgba($color: white, $alpha: .7);
    box-shadow: 2px 4px 12px rgba($color: $black, $alpha: .1);
    backdrop-filter: blur(3px);
    color: $black;
    opacity: 0;
    transform: rotate(-90deg) translate(0, -200%);
    transition: $transition;
    margin: 0;

    &.writingor--mouse:hover {
        opacity: .7;
    }

    &.writingor--scrolled {
        opacity: 1;
        transform: rotate(-90deg) translate(0, -125%);
    }
}