@font-face {
  font-family: "Commissioner";
  src: url(../../fonts/Commissioner/static/Commissioner-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Commissioner";
  src: url(../../fonts/Commissioner/static/Commissioner-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Commissioner";
  src: url(../../fonts/Commissioner/static/Commissioner-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Commissioner";
  src: url(../../fonts/Commissioner/static/Commissioner-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@-webkit-keyframes roll-1 {
  from {
    background-color: #a0a0a0;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  to {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
    background-color: #f0f0f0;
  }
}
@keyframes roll-1 {
  from {
    background-color: #a0a0a0;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  to {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
    background-color: #f0f0f0;
  }
}
html,
input,
button {
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  html,
  input,
  button {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  html,
  input,
  button {
    font-size: 14px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 300;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

hr,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 1.5em 0;
}
hr:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
ul:first-child,
ol:first-child,
li:first-child,
p:first-child {
  margin-top: 0;
}
hr:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
ul:last-child,
ol:last-child,
li:last-child,
p:last-child {
  margin-bottom: 0;
}

hr {
  background-color: #cccccc;
  border: none;
  height: 1px;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3rem;
}

a,
button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

.writingor--container {
  max-width: 1588px;
  padding: 0 64px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .writingor--container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.writingor--mouse {
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}

.writingor--main {
  min-height: 100vh;
}

.writingor--top-section {
  position: relative;
  z-index: 11;
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}
.writingor--top-section .writingor--transition-to-next-1 svg path {
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}
.writingor--top-section.writingor--scrolled {
  background-color: #202020;
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3,
.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
  width: 100%;
  position: relative;
  z-index: 1;
}
.writingor--transition-to-next-1 svg,
.writingor--transition-to-next-2 svg,
.writingor--transition-to-next-3 svg,
.writingor--transition-to-prev-1 svg,
.writingor--transition-to-prev-2 svg,
.writingor--transition-to-prev-3 svg {
  display: block;
  width: 100%;
  height: auto;
}

.writingor--transition-to-prev-1,
.writingor--transition-to-prev-2,
.writingor--transition-to-prev-3 {
  -webkit-transform: translate(0, -2px);
      -ms-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.writingor--transition-to-next-1,
.writingor--transition-to-next-2,
.writingor--transition-to-next-3 {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

.writingor--to-top {
  display: block;
  position: fixed;
  left: 0;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  text-decoration: none;
  z-index: 10;
  padding: 0.15em 1em 0.3em 1.1em;
  text-align: center;
  font-weight: 500;
  -webkit-box-shadow: 2px 4px 12px rgba(32, 32, 32, 0.1);
          box-shadow: 2px 4px 12px rgba(32, 32, 32, 0.1);
  color: #a0a0a0;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translate(0, -200%);
      -ms-transform: rotate(-90deg) translate(0, -200%);
          transform: rotate(-90deg) translate(0, -200%);
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
  margin: 0;
}
.writingor--to-top.writingor--mouse:hover {
  color: #202020;
  -webkit-box-shadow: 2px 4px 12px rgba(114, 45, 202, 0.15);
          box-shadow: 2px 4px 12px rgba(114, 45, 202, 0.15);
}
.writingor--to-top.writingor--scrolled {
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(0, -125%);
      -ms-transform: rotate(-90deg) translate(0, -125%);
          transform: rotate(-90deg) translate(0, -125%);
}

.writingor--layout {
  overflow: hidden;
}

.writingor--layout .writingor--form-1 {
  opacity: 0;
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}
.writingor--layout .writingor--form-1.writingor--visible {
  opacity: 1;
}

.writingor--disabled {
  pointer-events: none;
}

.writingor--title-1 {
  font-weight: 500;
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .writingor--title-1 {
    font-size: 1.9rem;
    letter-spacing: 0.2em;
  }
}
@media screen and (max-width: 400px) {
  .writingor--title-1 {
    font-size: 1.5em;
    letter-spacing: 0.18em;
  }
}
.writingor--title-1 small,
.writingor--title-1 span {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.3em;
  margin: 1em 0;
}
@media screen and (max-width: 400px) {
  .writingor--title-1 small,
  .writingor--title-1 span {
    font-size: 0.6em;
    letter-spacing: 0.18em;
  }
}

.writingor--button-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.9em 2em 0.95em;
  background-color: #202020;
  outline: none;
  border: 2px dashed #f0f0f0;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 100%;
}
.writingor--button-1.writingor--mouse:hover {
  color: #FFD600;
  border: 2px dashed #a0a0a0;
}

.writingor--button-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2em 2.3em 1.25em;
  background-color: #722DCA;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
  line-height: 100%;
}
@media screen and (max-width: 1000px) {
  .writingor--button-2 {
    padding: 1em 2.4em 1.05em;
  }
}
.writingor--button-2.writingor--mouse:hover {
  background-color: #E74242;
  border-radius: 0;
}

.writingor--button-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.95em 1.4em 1.025em 1.45em;
  background-color: transparent;
  border: 1px solid #202020;
  outline: none;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer;
  line-height: 100%;
}
.writingor--button-3.writingor--mouse:hover {
  color: #722DCA;
  border-color: #a0a0a0;
}

.writingor--button-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.25em 2em 1.3em;
  background-color: #E74242;
  outline: none;
  border-radius: 18px;
  font-size: 1.05rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
  line-height: 100%;
}
@media screen and (max-width: 1000px) {
  .writingor--button-4 {
    padding: 1.4em 2.4em 1.45em;
  }
}
.writingor--button-4.writingor--mouse:hover {
  background-color: #722DCA;
  border-radius: 18px 0 18px 18px;
}

.writingor--card-1 {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  padding: 56px 48px 52px;
  background: white;
  border-radius: 28px;
  -webkit-box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
          box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
  opacity: 0;
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}
.writingor--card-1.writingor--visible {
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .writingor--card-1 {
    padding: 42px 36px 40px;
  }
}
.writingor--card-1__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .writingor--card-1__title {
    font-size: 1.2rem;
  }
}

.writingor--card-2 {
  display: grid;
  grid-template-columns: 234px 1fr;
  gap: 52px;
  opacity: 0;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.writingor--card-2.writingor--visible {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
@media screen and (max-width: 1000px) {
  .writingor--card-2 {
    grid-template-columns: 144px 1fr;
    gap: 36px;
  }
}
@media screen and (max-width: 800px) {
  .writingor--card-2 {
    grid-template-columns: 84px 1fr;
  }
}
@media screen and (max-width: 500px) {
  .writingor--card-2 {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
.writingor--card-2__icon {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .writingor--card-2__icon {
    margin-top: 16px;
  }
}
@media screen and (max-width: 500px) {
  .writingor--card-2__icon {
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0 auto;
  }
}
.writingor--card-2__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.writingor--card-2__main p {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}
.writingor--card-2__title {
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: white;
  margin: 0 0 0.5em;
}
@media screen and (max-width: 500px) {
  .writingor--card-2__title {
    text-align: center;
    font-size: 2.4em;
  }
}
.writingor--card-2__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  padding-top: 30px;
}
@media screen and (max-width: 800px) {
  .writingor--card-2__footer {
    gap: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.writingor--card-2__price {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: white;
}
.writingor--card-2__price small {
  font-size: 1rem;
}
.writingor--card-2__production-time {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: white;
}
.writingor--card-2__production-time small {
  font-size: 1rem;
}
.writingor--card-2 .writingor--button-1 {
  margin: 0 0 0 auto;
}
.writingor--card-3 {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}
.writingor--card-3.writingor--visible {
  opacity: 1;
}
.writingor--card-3 img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.writingor--card-3 img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(1.05) saturate(1.03) brightness(1.02);
          filter: contrast(1.05) saturate(1.03) brightness(1.02);
}

.writingor--card-4 {
  display: block;
  padding: 56px 48px 52px;
  background: white;
  border-radius: 0px 0px 0px 28px;
  -webkit-box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
          box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
  text-decoration: none;
  opacity: 0;
}
.writingor--card-4.writingor--visible {
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .writingor--card-4 {
    padding: 42px 36px 40px;
  }
}
.writingor--card-4__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.writingor--card-4 p {
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.writingor--card-4__link-icon {
  position: absolute;
  right: 24px;
  top: 24px;
  display: block;
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.writingor--card-4.writingor--mouse:hover {
  -webkit-box-shadow: 2px 5px 15px rgba(32, 32, 32, 0.25);
          box-shadow: 2px 5px 15px rgba(32, 32, 32, 0.25);
}
.writingor--card-4.writingor--mouse:hover .writingor--card-4__link-icon {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.writingor--form-1 {
  padding: 56px 48px 52px;
  background: white;
  border-radius: 28px;
  -webkit-box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
          box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
  max-width: 946px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .writingor--form-1 {
    padding: 42px 36px 40px;
  }
}
.writingor--form-1__title {
  font-size: 2.1rem;
  letter-spacing: 0.25em;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .writingor--form-1__title {
    font-size: 1.8rem;
  }
}
.writingor--form-1 input[type=text],
.writingor--form-1 input[type=date],
.writingor--form-1 input[type=tel],
.writingor--form-1 input[type=number],
.writingor--form-1 input[type=email] {
  display: block;
  width: 100%;
  padding: 0.9em 1.3em;
  border-radius: 0;
  border: 1px solid #f0f0f0;
  font-size: 1.1rem;
  margin-bottom: 1em;
}
.writingor--form-1 input[type=text].writingor--mouse:hover,
.writingor--form-1 input[type=date].writingor--mouse:hover,
.writingor--form-1 input[type=tel].writingor--mouse:hover,
.writingor--form-1 input[type=number].writingor--mouse:hover,
.writingor--form-1 input[type=email].writingor--mouse:hover {
  border: 1px solid #a0a0a0;
}
.writingor--form-1 input[type=text]:focus,
.writingor--form-1 input[type=date]:focus,
.writingor--form-1 input[type=tel]:focus,
.writingor--form-1 input[type=number]:focus,
.writingor--form-1 input[type=email]:focus {
  border: 1px solid #722DCA;
}
.writingor--form-1 textarea {
  display: block;
  width: 100%;
  padding: 0.9em 1.3em;
  border-radius: 0;
  border: 1px solid #f0f0f0;
  font-size: 1.1rem;
  margin-bottom: 1em;
  resize: none;
  height: 180px;
}
.writingor--form-1 textarea.writingor--mouse:hover {
  border: 1px solid #a0a0a0;
}
.writingor--form-1 textarea:focus {
  border: 1px solid #722DCA;
}
.writingor--form-1 .writingor--button-4,
.writingor--form-1 .writingor--button-2 {
  margin: 1.7em 0 0 auto;
}
.writingor--form-1__response-message {
  font-weight: 700;
}
.writingor--form-1__agreement {
  font-size: 0.7rem;
  text-align: center;
}

.writingor--header-1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
}
.writingor--header-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.writingor--header-1__row .writingor--language-switcher {
  margin-left: auto;
}

.writingor--footer-1 {
  background-color: #202020;
}
.writingor--footer-1__container {
  padding-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .writingor--footer-1__container {
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
.writingor--footer-1__container p {
  color: #f0f0f0;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .writingor--footer-1__container p {
    text-align: center;
  }
}
.writingor--footer-1__container p a.writingor--mouse:hover {
  color: #FFD600;
}

.writingor--portfolio-modal-1 {
  max-width: 1244px;
}
.writingor--portfolio-modal-1__title {
  font-size: 2.1rem;
  letter-spacing: 0.25em;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .writingor--portfolio-modal-1__title {
    font-size: 1.8rem;
  }
}
.writingor--portfolio-modal-1__main-img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.writingor--modal {
  position: relative;
  display: none;
  padding: 56px 48px 52px;
  background: white;
  border-radius: 28px 0 28px 28px;
  -webkit-box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
          box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.16);
  width: 100%;
  max-width: 946px;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .writingor--modal {
    padding: 42px 36px 40px;
  }
}

.writingor--modal_active {
  z-index: 1000;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.writingor--modal__hide {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 78px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.writingor--modal__hide:hover::after, .writingor--modal__hide:hover::before {
  background-color: #202020;
}
@media screen and (max-width: 500px) {
  .writingor--modal__hide {
    width: 64px;
    height: 64px;
  }
}

.writingor--modal__hide::after, .writingor--modal__hide::before {
  position: absolute;
  content: "";
  display: block;
  background: #a0a0a0;
  width: 36px;
  height: 2px;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}

.writingor--modal__hide::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.writingor--modal__hide::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.writingor--modal .writingor--form-1 {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.writingor--body-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px 20px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  background: rgba(32, 32, 32, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.writingor--body-overlay_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.writingor--body-overlay::-webkit-scrollbar {
  display: none;
}

.writingor--body_locked {
  overflow: hidden;
}

.writingor--modals-heap {
  display: none;
  overflow: hidden;
  width: 0;
  height: 0;
}

.writingor--language-switcher {
  position: relative;
}
.writingor--language-switcher__list {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  max-width: 280px;
  padding: 20px 25px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  list-style: none;
  background-color: white;
}
.writingor--language-switcher__list_active {
  display: block;
}
.writingor--language-switcher__list-item {
  margin: 1em 0;
}
.writingor--language-switcher__list-item:first-child {
  margin-top: 0;
}
.writingor--language-switcher__list-item:last-child {
  margin-bottom: 0;
}
.writingor--language-switcher__list-item a {
  color: #202020;
  text-decoration: none;
}
.writingor--language-switcher__list-item a.writingor--mouse:hover {
  opacity: 0.7;
}
.writingor--language-switcher__current {
  background-color: transparent;
  color: #FFD600;
  font-weight: 500;
}
.writingor--language-switcher__current.writingor--mouse:hover {
  opacity: 0.7;
}

.writingor--logo-1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.writingor--layout-1 {
  background-color: #722DCA;
  overflow: hidden;
}
.writingor--layout-1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100vh;
}
.writingor--layout-1 h1 {
  color: white;
  text-align: center;
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 0.8em;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-1 h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 800px) {
  .writingor--layout-1 h1 {
    font-size: 1.3rem;
  }
}
.writingor--layout-1 h1 strong,
.writingor--layout-1 h1 b {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.12em;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-1 h1 strong,
  .writingor--layout-1 h1 b {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 800px) {
  .writingor--layout-1 h1 strong,
  .writingor--layout-1 h1 b {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 450px) {
  .writingor--layout-1 h1 strong,
  .writingor--layout-1 h1 b {
    font-size: 1.8rem;
    letter-spacing: 0.08em;
  }
}
.writingor--layout-1 h1 em,
.writingor--layout-1 h1 i {
  display: block;
  font-size: 2.6rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-1 h1 em,
  .writingor--layout-1 h1 i {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 800px) {
  .writingor--layout-1 h1 em,
  .writingor--layout-1 h1 i {
    font-size: 1.7rem;
  }
}
.writingor--layout-1 h1 span,
.writingor--layout-1 h1 small {
  display: block;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 170%;
  letter-spacing: 0.6em;
  margin-top: 0.6em;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-1 h1 span,
  .writingor--layout-1 h1 small {
    font-size: 1rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 800px) {
  .writingor--layout-1 h1 span,
  .writingor--layout-1 h1 small {
    font-size: 0.7rem;
  }
}
.writingor--layout-1 .writingor--transition-to-next-1 svg {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.writingor--layout-2 {
  background-color: white;
  position: relative;
  padding-top: 50px;
}
.writingor--layout-2__header {
  padding-bottom: 50px;
}
.writingor--layout-2__main {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 48px;
  padding: 0 0 14vw;
}
@media screen and (max-width: 1400px) {
  .writingor--layout-2__main {
    grid-template-columns: 1fr;
    padding-bottom: 0;
    gap: 0;
  }
}
@media screen and (max-width: 1400px) {
  .writingor--layout-2__cover {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    width: 100%;
    -webkit-transform: translate(-64px);
        -ms-transform: translate(-64px);
            transform: translate(-64px);
    margin-top: -64px;
  }
}
@media screen and (max-width: 600px) {
  .writingor--layout-2__cover {
    margin-top: -32px;
  }
}
.writingor--layout-2__cover img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left top;
     object-position: left top;
}
@media screen and (max-width: 1400px) {
  .writingor--layout-2__cover img {
    position: unset;
    -o-object-fit: left bottom;
       object-fit: left bottom;
    left: unset;
    bottom: unset;
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .writingor--layout-2__cover img {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .writingor--layout-2__cover img {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .writingor--layout-2__cover img {
    width: 80%;
  }
}
.writingor--layout-2__content {
  position: relative;
  z-index: 10;
}
.writingor--layout-2__content ul {
  padding-left: 1.2em;
}
.writingor--layout-2__content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .writingor--layout-2__content h3 {
    font-size: 1.2rem;
  }
}
.writingor--layout-2__content li strong,
.writingor--layout-2__content li b,
.writingor--layout-2__content p strong,
.writingor--layout-2__content p b {
  font-weight: 700;
}
.writingor--layout-2__content hr.wp-block-separator,
.writingor--layout-2__content hr {
  border: none;
}
.writingor--layout-2__content .writingor--button-3 {
  background-color: white;
  margin: 2em 0 0;
}
@media screen and (max-width: 1400px) {
  .writingor--layout-2__content .writingor--button-3 {
    margin-left: auto;
  }
}
.writingor--layout-2 .writingor--transition-to-next-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.writingor--layout-3 {
  background-color: #f0f0f0;
  position: relative;
  padding: 50px 0 0;
}
.writingor--layout-3__header {
  margin-bottom: 66px;
}
.writingor--layout-3__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .writingor--layout-3__cards {
    gap: 24px;
    padding-bottom: 10vw;
  }
}
.writingor--layout-3__cards .writingor--card-1 {
  width: 32%;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
@media screen and (max-width: 1520px) {
  .writingor--layout-3__cards .writingor--card-1 {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .writingor--layout-3__cards .writingor--card-1 {
    width: 49%;
  }
}
@media screen and (max-width: 900px) {
  .writingor--layout-3__cards .writingor--card-1 {
    width: 100%;
  }
}
.writingor--layout-3__cards .writingor--card-1:nth-child(1) {
  -webkit-transform: rotate(-6deg) translate(0, 10%);
      -ms-transform: rotate(-6deg) translate(0, 10%);
          transform: rotate(-6deg) translate(0, 10%);
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .writingor--layout-3__cards .writingor--card-1:nth-child(1) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.writingor--layout-3__cards .writingor--card-1:nth-child(2) {
  z-index: 2;
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
@media screen and (max-width: 1520px) {
  .writingor--layout-3__cards .writingor--card-1:nth-child(2) {
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@media screen and (max-width: 900px) {
  .writingor--layout-3__cards .writingor--card-1:nth-child(2) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.writingor--layout-3__cards .writingor--card-1:nth-child(3) {
  -webkit-transform: rotate(7deg) translate(0, 11%);
      -ms-transform: rotate(7deg) translate(0, 11%);
          transform: rotate(7deg) translate(0, 11%);
}
@media screen and (max-width: 1520px) {
  .writingor--layout-3__cards .writingor--card-1:nth-child(3) {
    -webkit-transform: rotate(8deg) translate(0, 5%);
        -ms-transform: rotate(8deg) translate(0, 5%);
            transform: rotate(8deg) translate(0, 5%);
  }
}
@media screen and (max-width: 900px) {
  .writingor--layout-3__cards .writingor--card-1:nth-child(3) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.writingor--layout-4 {
  background-color: #202020;
  padding: 50px 0 100px;
}
@media screen and (max-width: 800px) {
  .writingor--layout-4 {
    padding-bottom: 36px;
  }
}
.writingor--layout-4__header {
  margin-bottom: 66px;
}
.writingor--layout-4__header .writingor--title-1 {
  color: white;
}
.writingor--layout-4__cards .writingor--card-2 {
  margin-bottom: 80px;
}
.writingor--layout-4__cards .writingor--card-2:last-child {
  margin-bottom: 0;
}

.writingor--layout-5 {
  position: relative;
  background-color: #202020;
  padding: 50px 0 0;
}
.writingor--layout-5__header {
  padding-bottom: 24px;
}
.writingor--layout-5__header .writingor--title-1 {
  color: white;
}
.writingor--layout-5__main {
  position: relative;
}
.writingor--layout-5__cards {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.writingor--layout-5__cards .writingor--card-3:nth-child(3n+2) {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.writingor--layout-5__more {
  position: absolute;
  bottom: 8.8vw;
  left: 50%;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  z-index: 10;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .writingor--layout-5__more {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .writingor--layout-5__more {
    bottom: 7.6vw;
  }
}
.writingor--layout-5__more.writingor--mouse:hover {
  color: #FFD600;
}
.writingor--layout-5 .writingor--transition-to-prev-1 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  z-index: 4;
}
.writingor--layout-5 .writingor--transition-to-next-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.writingor--layout-6 {
  padding: 50px 0 100px;
  background-color: white;
  overflow: hidden;
}
.writingor--layout-6__main {
  padding-top: 50px;
}
.writingor--layout-6__slider {
  overflow: visible;
}
.writingor--layout-6__slider .swiper-slide {
  -webkit-transition: all ease-in 500ms;
  -o-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
  -webkit-transform: translate(0, 72px);
      -ms-transform: translate(0, 72px);
          transform: translate(0, 72px);
}
.writingor--layout-6__slider .swiper-slide-prev,
.writingor--layout-6__slider .swiper-slide-next {
  -webkit-transform: translate(0, 36px);
      -ms-transform: translate(0, 36px);
          transform: translate(0, 36px);
}
.writingor--layout-6__slider .swiper-slide-active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.writingor--layout-7 {
  position: relative;
  padding: 16vw 0 15vw;
  background-color: #722DCA;
}
.writingor--layout-7__container {
  position: relative;
  z-index: 2;
}
.writingor--layout-7 .writingor--transition-to-prev-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.writingor--layout-7 .writingor--transition-to-next-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.writingor--layout-8 {
  padding: 100px 0;
  background-color: #f0f0f0;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-8 {
    padding: 50px 0;
  }
}
.writingor--layout-8__main {
  padding-top: 100px;
}
@media screen and (max-width: 1000px) {
  .writingor--layout-8__main {
    padding-top: 50px;
  }
}
.writingor--layout-8__main ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}
@media screen and (max-width: 800px) {
  .writingor--layout-8__main ul {
    grid-template-columns: 1fr;
  }
}
.writingor--layout-8__main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .writingor--layout-8__main ul li {
    gap: 18px;
  }
}
.writingor--layout-8__main ul li svg,
.writingor--layout-8__main ul li img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 0;
}
.writingor--layout-8__main ul li a {
  color: #202020;
  word-wrap: anywhere;
}
.writingor--layout-8__main ul li a.writingor--mouse:hover {
  color: #722DCA;
}/*# sourceMappingURL=style.css.map */